@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  textarea,
  .profile-bio,
  .vendor-room-listing {
    @apply !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-[#FF5A5F];
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

html,
body,
:root {
  height: 100%;
  overflow-x: hidden;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

.leaflet-geosearch-bar {
  z-index: 1 !important;
}

/* Price Range */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-rose-500;

  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}

.rdrDayToday .rdrDayNumber span::after {
  background: #f43f5e !important;
}

.rdrDefinedRangesWrapper {
  display: none !important;
}
.rdrDateRangePickerWrapper {
  width: 100% !important;
}
/* hide input in date range picker */
.rdrDateDisplayWrapper {
  display: none !important;
}

.customButtonLogout span {
  padding: 0.75rem 1rem !important;
  color: #000000 !important;
  width: 100%;
  text-align: start;
  font-weight: 500 !important;
}

.customButtonLogout:hover {
  background-color: #f5f5f5 !important;
}

.customLoginGoogle {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
