name: Deploy Frontend

on:
    pull_request:
      branches: [ "develop" ]
      types:
          - closed

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18' # Chọn phiên bản Node.js phù hợp

    # - name: Login to AWS ECR
    #   run: |
    #     aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
    #     aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #     aws configure set default.region  ${{ secrets.AWS_REGION }}
    #     aws configure set default.output json
    #     aws ecr get-login-password --region ap-southeast-1 | docker login --username AWS --password-stdin 553321397725.dkr.ecr.ap-southeast-1.amazonaws.com
    
    # - name: Build and push Docker image
    #   run: |
    #     docker build -t paradise-frontend .
    #     docker tag paradise-frontend:latest 553321397725.dkr.ecr.ap-southeast-1.amazonaws.com/paradise-frontend:latest
    #     docker push 553321397725.dkr.ecr.ap-southeast-1.amazonaws.com/paradise-frontend:latest
    
    # - name: Deploy to Server EC2
    #   uses: appleboy/ssh-action@master
    #   with: 
    #     host: ec2-13-215-183-69.ap-southeast-1.compute.amazonaws.com  
    #     username: ubuntu
    #     key: ${{ secrets.SSH_PRIVATE_KEY }}
    #     script: |
    #         sudo su
    #         aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
    #         aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    #         aws configure set default.region  ${{ secrets.AWS_REGION }}
    #         aws configure set default.output json
    #         aws ecr get-login-password --region ap-southeast-1 | docker login --username AWS --password-stdin 553321397725.dkr.ecr.ap-southeast-1.amazonaws.com    
    #         docker rm -vf $(docker ps -aq)
    #         docker rmi -f $(docker images -aq)
    #         docker run --name AppFE -d -p 3000:3000 553321397725.dkr.ecr.ap-southeast-1.amazonaws.com/paradise-frontend:latest
    - name: Deploy to Server
      uses: appleboy/ssh-action@master
      with: 
        host: ${{ secrets.NEW_HOST }}  
        username: ${{ secrets.NEW_USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.NEW_PORT }}
        script: |
          cd project/20110668_20110280/frontend/paradise_booking_typescript/
          docker stop clientparadise
          docker rm clientparadise
          git pull
          cd ../..
          docker-compose up -d
